annotated-types
anyio
atomicwrites
attrs
certifi
chardet
click
colorama
dataclasses
deprecation
dnspython
email_validator
fastapi
fastapi-cli
gotrue
greenlet
h11
httpcore
httptools
httpx
idna
iniconfig
Jinja2
markdown-it-py
MarkupSafe
mdurl
numpy
orjson
packaging
pandas
pluggy
postgrest
postgrest-py
psycopg2-binary
py
pydantic
pydantic_core
Pygments
pytest
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
realtime
realtime-py
requests
rfc3986
rich
shellingham
six
sniffio
SQLAlchemy
starlette
storage3
StrEnum
supabase
supabase-py
supafunc
toml
typer
typing
typing_extensions
tzdata
ucimlrepo
ujson
union
urllib3
uvicorn
watchfiles
websockets
