.App {
  text-align: center;
}

.base-font {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.bg-green22 {
  background-color: #355E3B;
}

.bg-main {
  background-color: #FFFAF0;
}

.prompt-sector {
    border-radius: 25px;
    border: 2px solid  #355E3B;
    background: #f1e0c9;
    padding: 25px;
    width: auto;
    height:auto;
    margin-top: 15px;
}

.title-link {
  color: #f1e0c9;
}


.title-link:hover,
.title-link:focus {
  color: #c2d4ae;
}

.title-margs {
  margin-left: 40px;
  margin-right: 40px;
}

.title-sector {
  border-radius: 25px;
  border: 2px solid  #213a25;
  background: #355E3B;
  padding: 10px;
  width: auto;
  height:auto;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFAF0;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-74-unclicked {
  background-color: #c2d4ae;
  border: 2px solid #355E3B;
  border-radius: 30px;
  box-shadow: #355E3B 4px 4px 0 0;
  color: #355E3B;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: none;
  margin-right: 10px;
  margin-bottom: 12px;
}

.button-74-unclicked:active {
  box-shadow: #355E3B 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74-unclicked {
    min-width: 120px;
    padding: 0 25px;
  }
}



.button-74-clicked {
  background-color: #355E3B;
  border: 2px solid #C1E1C1;
  border-radius: 30px;
  box-shadow: #C1E1C1 4px 4px 0 0;
  color: #C1E1C1;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: none;
  margin-right: 10px;
  margin-bottom: 12px;
}

.button-74-clicked:active {
  box-shadow: #C1E1C1 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74-clicked {
    min-width: 120px;
    padding: 0 25px;
  }
}

.question-prompt {
  color: #355E3B;
  text-decoration: underline;
}

.question-input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #FFFAF0;
  border-radius: 10px;
  border-color: #355E3B;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.submit-fancy {
  color: #C1E1C1;
  border: 2px solid transparent;
  width: 9em;
  height: 4em;
  padding-left: 0.8em;
  margin-top: 50px;
  margin-bottom: 80px;
  outline: none;
  overflow: hidden;
  background-color: #355E3B;
  border-radius: 10px;
  border-color: #C1E1C1;
  transition: all 0.5s;
}

.submit-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.check-box-input {
  margin-top: 55px;
  margin-left: 25px;
}
.checkbox-wrapper-23 {
  position: relative;
  display:inline-flex;
  margin-left: 25px;
}

.checkbox-wrapper-23 input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-23 input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-23 input:focus + label {
  transform: scale(1.03);
}

.checkbox-wrapper-23 input + label {
  display: block;
  border: 2px solid #355E3B;
  width: var(--size);
  height: var(--size);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox-wrapper-23 input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.checkbox-wrapper-23 input + label svg {
  pointer-events: none;
  padding: 5%;
}

.checkbox-wrapper-23 input + label svg path {
  fill: none;
  stroke: #355E3B;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}

.results-container {
  border-radius: 25px;
  border: 6px solid  #355E3B;
  background: #C1E1C1;
  color: #213a25;
  padding: 30px;
  width: 560px;
  height:auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.organize-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filler {
  height: 350px;
}

.home-container {
  border-radius: 25px;
  border: 6px solid  #355E3B;
  background: #C1E1C1;
  color: #213a25;
  padding: 30px;
  width: 860px;
  height:auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Home-header {
  background-color: #C1E1C1;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Home-sector {
  border-radius: 25px;
  border: 2px solid  #213a25;
  background: #355E3B;
  padding: 10px;
  width: auto;
  height:auto;;
}